<h1><%= @user.username %></h1>
<ul>
  <% for shelf in @shelves %>
    <li><%= link_to shelf.name, shelf_path(:username => @user.username, :shelfname => shelf.name) %></li>
  <% end %>
</ul>
<%= form_with(url: {action: :upload_csv}, multipart: true) do %>
  <%= file_field_tag 'books' %> %
  <%= submit_tag %>
<% end %>