.breadcrumb
  = "@#{@user.username}"
%ul
  - for shelf in @shelves
    %li
      = link_to shelf.name, shelf_path(:username => @user.username, :shelfname => shelf.name) 
      = "(#{shelf.books.count})"
  -if @user == current_user
    %li#new_shelf_button= link_to "+ New Shelf", "/"



-if @user == current_user
  = form_with(url: {action: :upload_csv}, multipart: true) do
    %label{:for => "books"}
      Import from Goodreads
    = file_field_tag 'books'
    = submit_tag("Upload")
