.breadcrumb
  = "@#{@user.username}"
%ul
  - for shelf in @shelves
    %li
      = link_to shelf.name, shelf
      = "(#{shelf.books.count})"
  -if @user == current_user
    %li#new_shelf_button= link_to "+ New Shelf", "#"
    %li#new_shelf_form{style: "display: none"}
      = form_tag(create_shelf_path) do
        = text_field_tag :name
        = submit_tag("Create")
        

:javascript
  document.querySelector("#new_shelf_button").addEventListener("click", (e) => {
    e.preventDefault()
    document.querySelector("#new_shelf_form").style.display = ''
    document.querySelector("#new_shelf_button").style.display = 'none'
    document.querySelector("#new_shelf_form input[type=text]").focus()
  })


-# -if @user == current_user
-#   = form_with(url: {action: :upload_csv}, multipart: true) do
-#     %label{:for => "books"}
-#       Import from Goodreads
-#     = file_field_tag 'books'
-#     = submit_tag("Upload")
