.breadcrumb
  = link_to "@#{@user.username}", @user
  = "/"
  = link_to "#{@shelf.name}", @shelf
.book-details
  .title= @book.title
  .author= @book.author
  - if @post.finished_on
    .finished-on= @post.finished_on.strftime("%F")
  - if @post.notes.count > 0
    .notes-title= "Notes and Quotes"
    - for note in @post.notes
      - if note.quote?
        .note-group.quote= simple_format(note.body)
      - if note.note?
        .note-group.note= simple_format(note.body)
= image_tag(@post.cover.url) if @post.cover?
- if @user == current_user
  = link_to "Edit", edit_user_posting_path(current_user, @post)